$bgColor: #192135;
$bdPage: #2e364b;
$bgForm: #151926;
$colorText: #fffeff;
.spinner-loading{
	position: absolute;
	top: 50%;
	left: 40%;
	z-index: 99999
}
.createadmin{
	color: $colorText !important;
	margin-top: 10px;
	.btn-circle{
		width: 15px;
		height: 15px;
		background: #01a34e;
	}
  .brand_value span{
    padding: 5px 15px;
    background: #ee4036;
  }
	.brand_value:hover{
		cursor: pointer;
	}
	.btn-error2{
		width: 15px;
		height: 15px;
		background: #bc202d;
		border: none;
	}
	 
	.table-adminlist{
		.item-sort{
			// justify-content: center;
			display: flex !important;
			span{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.sort-area{
			position: relative;
			margin-left: 5px;
			.triangle-top {
			  position: absolute;
			  width: 10px;
			  height: 10px;
			  border-bottom: 6px solid #FFFFFF;
			  border-left: 5px solid transparent;
			  border-right: 5px solid transparent;
			  top: 0px;
			  border-bottom: 6px solid #666;
			}
			.triangle-bottom {
			  position: absolute;
			  width: 6px;
			  height: 6px;
			  border-top: solid 6px #FFFFFF;
			  border-left: solid 5px transparent;
			  border-right: solid 5px transparent;
			  top: 12px;
			  border-top: 6px solid #666;
			}
		  }
		.text-overflow{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			// text-align: center;
			span{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				// text-align: center;
			}
		}
		width: 100%;
		
		background-color: #f3f3f3;
		tbody{
		  height:200px;
		  overflow-y:auto;
		  width: 100%;
		  }
		thead,tbody,tr,td,th{
		  display:block;
		}
		tbody{
			background: $bgColor;
			color: $colorText !important;			
		  td{
			float:left;
			border: none;
		  }
		}
		thead {
		  tr{
			th{
			color: #fffeff;
			text-align: center;
			float:left;
			background-color: $bgForm;
			border-bottom: 10px solid #2a3245;
			}
		  }
		}
	}
	.table-adminlist tbody::-webkit-scrollbar-track
	{
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  border-radius: 5px;
	  background-color: transparent;
	}
  
	.table-adminlist tbody::-webkit-scrollbar
	{
	  width: 7px;
	  background-color: transparent;
	}
	.table-adminlist tbody::-webkit-scrollbar-thumb
	{
	  border-radius: 5px;
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	  background-color: #ffffff;
	} 
}

