.container-fluid{
  padding-bottom: 0 !important;
}

.redux-form-error-message{
  border: none;
  font-weight: 400;
  color: #e25a2a;
  font-size: 12px;
}

.redux-form-error-message:before{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px;
}
.react-datepicker-wrapper{
  width: 100%;
  .react-datepicker__input-container{
    width: 100%;
    .inputDate{
      width: 100%;
    }
  }
}
.iconDate{
  position: absolute;
  right: 50px;
  bottom: 35px;
  font-size: 22px;
}

.close-button {
  color: #c14e26;
  font: 30px/100% arial, sans-serif;
  position: absolute;
  right: 13px;
  text-decoration: none;
  top: 10px;
  text-shadow: 0 1px 0 #c14e26;
  z-index: 999;
}

.close-button:after{
  content: '✖';
}

.close-button:hover {
  color: #e25a2a;
}

.body-wrapper-fix {
  margin-left: 10px;
  margin-right: 14px;
}

.bortlet {
  height: 45px;
  background: #232a3c;
  margin-top: 15px;
  margin-bottom: 0px;
  .bortlet-head {
    overflow: hidden;
    .bortlet-title {
      padding: 0;
      min-height: 48px;
      float: left;
      .nav-pills {
        position: relative;
        padding-left: 0;
        list-style: none;
        li {
          float: left;
          margin-left: 2px;
          margin-top: 2px;
          a {
            color: #fff;
            padding-left: 30px;
            padding-right: 30px;
            background: #2a3245;
            font-size: 17px;
            height: 40px;
            padding-bottom: 8px;
            padding-top: 8px;
            text-transform: uppercase;
            &:hover{
              color: #e15b26;
              background-color: #151925;
            }
            &:focus{
              color: #e15b26;
              background-color: #151925;
            }
          }
          &:hover{
            cursor: pointer;
          }
        }
        .active{
          a{
            color: #e15b26;
            background-color: #151925;
            &:hover{
              color: #e15b26;
              background-color: #151925;
            }
          }
        }
      }
      .nav{
        display: block;
        position: relative;
        li{
          a{
            display: block;
            position: relative;
          }
        }
      }
    }
  }
}

.table-title {
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  margin-bottom: 20px;
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
  }
  .outer {
    height: 40px;
    .inner {
      font-weight: 700;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
    }
  }
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.table-details {
  font-size: 16px;
  font-weight: 450;
  background:#151925;
  margin-bottom: 15px;
  .outer {
    color: #fff;
    height: 36px;
    .inner {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
}

.overload-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.no-padding {
  padding: 0px !important;
}

.comment {
  border: none;
  border-left: 10px solid #2a3245;
  background: #fff;
  color: #111 !important;
}

