  .refixT {
    .react-datepicker {
      font-size: 1.3rem !important;
      left: 0px;
      top: 20px;
      .react-datepicker__triangle{
        left: auto;
        right: 20px;
      }
    }
    .react-datepicker__current-month {
      font-size: 1.5rem !important;
    }
    
    .react-datepicker__header {
      padding-top: 6px !important;
    }
    
    .react-datepicker__navigation {
      top: 13px !important;
    }
    
    .react-datepicker__day-name, .react-datepicker__day {
      margin: 0.5rem !important;
    }

    .react-datepicker__navigation--next {
      right: 10px;
      border-left-color: #171616;
    }
    
    .react-datepicker__navigation--previous {
      left: 10px;
      border-right-color: #171616;
    }

    .e-selected {
      color: red !important;
    }
  }
  
  